.bookmarks {
    text-align: center;
}

.previous {
    display: inline-block;
    background-color: lightskyblue;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
}

.new-select {
    display: block;
    text-align: center;
}

.select {
    text-align: center;
    background-color: lightpink;
    display: inline-block;
}

.new {
    text-align: center;
    background-color: lightpink;
    display: inline-block;
}