.bookmark-item {
    background: #71816D;
}

.bookmark-box {
    background-color: #7c809b;
    border-radius: 25px;
    margin: 10px;
    font-size: 30px;
    padding: 10px;
}

.expandholder {
    background-color: #7c809b;
    font-size: 20px;
}

h2 {
    font-size: 25px;
}

p .adding-text {
    font-size: 25px;
}

.cancel-bookmark-submit:focus {
    text-decoration: underline;
}

.cancel-error:focus {
    text-decoration: underline;
}

.startnew :focus {
    text-decoration: underline;
}

.bookmark-item-expanded:focus {
    text-decoration: underline;
}

.js-item-element {
    font-size: 15px;
    list-style: none;
}

.expandholder {
    background-color: #7c809b;
    padding: 5px;
    border-radius: 25px;
    margin: 10px;
    font-family: verdana;
}

body {
    background-color: #E07A5F;
}

main {
    text-align: center;
}

h1 {
    text-align: center;
    color: #170f11;
    font-family: verdana;
    font-size: 60px;
}

.startnew {
    padding: 15px;
    font-size: 15px;
}

.create-new-bookmark {
    padding: 15px;
    font-size: 15px;
}

.cancel-bookmark-submit {
    padding: 15px;
    font-size: 15px;
}

.bookmark-item-delete {
    padding: 15px;
    font-size: 15px;
}

.bookmark-item-expand {
    padding: 15px;
    font-size: 15px;
}

.bookmark-item-expanded {
    font-size: 40px;
}

a, a:link, a:visited, a:hover, a:active {
    color: #2D2D24;
}

@media all and (min-width: 600px) {
    h1 {
        text-align: center;
        color: #170f11;
        font-family: verdana;
    }

    .startnew {
        font-size: 15px;
        padding: 0;
    }

    .expandholder {
        background-color: #7c809b;
        padding: 5px;
        border-radius: 25px;
        margin: 10px;
        font-family: verdana;
    }

    .bookmark-box {
        background-color: #7c809b;
        padding: 5px;
        border-radius: 55px;
        margin: 10px;
    }

    .create-new-bookmark {
        padding: 5px;
        font-size: 15px;
    }
    
    .cancel-bookmark-submit {
        padding: 5px;
        font-size: 15px;
    }

    .bookmark-item-expand {
        font-size: 15px;
    }

}